.App {
  text-align: center;
}

h1 {
  text-align: center;

}

.card {
  border : 2px , solid , red;
  position: absolute;
  top:5%;
  left: 5%;
  height:443px;
  width: 80%;
  overflow-y: scroll;
}

.form-control {
  position: relative;
  margin-top:27%;
  width: 90%;
  margin-left:4em;
}

.droplist {
  border : 2px , solid , red;
  position: absolute;
  top:5%;
  left: 5%;
  height:443px;
  width: 90%;
  overflow-y: scroll;
}

.btn-cool {
  position: relative;
  display: block;
  margin-right: 2%;
  margin-top:5%;
  padding :0 10%;
  text-align:center;
  text-decoration: none;
  color: white; 
  background: black;
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
  transition:0.5s;
}

.btn-cool:hover {
  background: white;
  color:black;
  text-decoration: none;
}

.btn-cool:before {
  content:"";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background:black;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.btn-cool:before {
  transform-origin: right;
  transform: scaleX(0);
}

.btn-cool:hover:before {
  transform-origin: left; 
  transform: scaleX(1);
}

.btn-cool:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: -1;
  transition:0.5s;
}

.btn-cool:after {
  content:"";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: -1;
  transition:0.5s;
  transition-delay:0.5s;
}

.btn-cool:hover:nth-child(2)::after {
  top:-8px;
  left:28px;
  right: 8px;;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col {
  margin-left: 5em;
  margin-right: 3em;
}

.sous-title {
justify-content: space-around;
}

ul {
  margin:0;
  padding:0;
}

li {
  background-color: rgb(0, 0, 0);
  border-radius:25px;
  color:rgb(255, 255, 255);
  list-style: none;
  font-size:2em;
  display:flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right: 20px;
}

li:hover {
  background-color: white;
  color:black;
  opacity:0.5;
}

.btndelete {
background-color: transparent;
color:red;
border:none;
}